.container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #3b4262;
}

.container button {
  border: none;
  background-color: transparent;
  color: #3b4262;
  mix-blend-mode: normal;
  opacity: 0.5;
  width: 2rem;
  height: 2rem;
  font-size: large;
}

.container button:hover,
.container button:active {
  cursor: pointer;
}

@media (min-width: 610px) {
  .container {
    margin: auto;
    width: 400px;
    height: 55vh;
    border-radius: 8px;
    z-index: 100;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .container button {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .container h2 {
    position: absolute;
    left: 20px;
    top: 20px;
    margin: 0;
  }
  .container img {
    position: absolute;
    top: 80px;
    margin-bottom: 20px;
  }
  .backdrop {
    width: 100vw;
    height: 100vh;
    background-color: #3b4262;
    opacity: 0.8;
    z-index: 30;
    position: fixed;
  }
}
